.lists {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lists main div {
  width: 50%;
  display: flex;
}

.lists form {
  background: pink;

  padding: 1rem;
  margin: 2rem;

  display: block;
}

.lists .hide {
  display: none;
}

.lists form div {
  margin: 1rem;
}
